<style>
body, html {
  margin: 0;
   }

   .container, .container-fluid, .container-xxl, .container-xl, .container-lg, .container-md, .container-sm {
    padding-right: 0;
    padding-left: 0;
}

.mt-4 {
  margin-top: 0 !important;
}


   .container {
    position: relative;
    min-height: 119vh;  
}


  .navbar {
  width: 100%;
   }

  .login-nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%
  }

  .login-nav span,
  .navbar-brand,
  .login-btn {
      font-family: 'Proxima Nova', sans-serif; 
      font-weight: bold; 
      color: white;
  }

  .navbar-brand {
      font-size: 24px; 
      text-decoration: none;
  }

  .navbar-text {
    justify-content: center;
    margin: 0;
    margin-left: -17px;
    flex-grow: 1;
    text-align: center;
}

  .login-btn {
      background: none;
      border: none; 
      text-decoration: none;
  }

   a {
      text-decoration: none; 
      color: lightgray; 
      text-align: center; 
      align-items: center; 
      margin: 0 10px; 
      font-family: 'Proxima Nova', sans-serif;

   }

   .centered-links {
    position: fixed;
    bottom: 10px;
    left: 0;
    right: 0;
    width: 30px;
    margin-left: auto;
    margin-right: auto;
}

.centered-links a {
  pointer-events: auto;    
}

.form-wrapper {
margin-top: 20px; 
}

      .form-control {
          width: 100%;
          font-size: 16px;
          padding: 12px 20px;
          border: 1px solid lightgray;  
      }
      
      .btn-primary {
          font-size: 16px;
          padding: 12px 20px;
      }

      .category-block {
        border: 1px solid lightgray;
        padding: 15px;
        margin: 10px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1 1 auto;
        overflow-y: auto;
    }
    

    .category-block i {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .category-block .category-details i {
    font-size: 30px;
    margin-top: 17px;
    margin-left: 12px;
}


    .category-details {
      display: flex;
      justify-content: space-between;
      align-items: center; 
      width: 100%;
      flex-direction: row; 
  }
  

    .category-link {
        text-align: center;
        width: 100%
        margin-top: 15px;
    }

    .horizontal-center {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;  
}

.main-logo {
    position: absolute;
    bottom: -150px;
    right: 160px;
    width: 70px;
    height: auto;
}

.user-name {
    font-size: 15px; 
    margin-left: 20px; 
}

.btn-custom {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90px;
    position: fixed;
    bottom: 0;
    left: 100;
    z-index: 1000;
    background-color: #5fb523;
    color: white;
    border: none;
    text-align: center;
}

.btn-custom::before {
    content: ''; 
    position: absolute; 
    top: 12px;
    left: 15px;
    right: 15px;
    bottom: 12px;
    border: 1.1px solid white;
}

.category-name {
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 500;
  font-size: 20px;
}

.category-total {
  font-family: 'Proxima Nova', sans-serif;
  font-size: 20px;
  font-weight: 300;
}

.footer-logo {
    flex-shrink: 0;
    align-self: flex-end;
    margin-top: auto;
    margin-bottom: 20px;
    padding: 20px 0;
}

</style>

<div class="container">
    <nav class="navbar navbar-expand-lg" style="background-color: #3778c2; padding: 20px 0">
        <div class="login-nav">
        <span class="navbar-brand user-name">
        <%= current_user.name %>
    </span>
    
            <span class="navbar-text">
                Categories
            </span>
            <% if user_signed_in? %>
            <%= button_to "Log Out", destroy_user_session_path, method: :delete, class: "login-btn" %>
        <% end %>
        </div>
    </nav>

    <div class="mt-3">
        <% @groups.each do |group| %>
          <div class="category-block">
          <div class="category-details">
              <i class="<%= group.icon %>" aria-label="<%= group.name %> Icon"></i>
              <h3 class="category-name"><%= group.name %></h3>
              <p class="category-total">$ <%= group.entities.sum(:amount) %></p>
          </div>
          <div class="category-link">
              <%= link_to 'View Transactions', group_entities_path(group) %>
          </div>
      </div>
      
        <% end %>

        <!-- Utilizando la clase para centrar "Add a new category" -->
        <div class="horizontal-center">
        <%= link_to 'ADD CATEGORY', new_group_path, class: "btn btn-custom" %>

        </div>
    </div>
    <div class="footer-logo">
    <img src="<%= asset_path 'actions-logo-noback.PNG' %>" alt="Actions App Logo" class="main-logo">
</div>
</div>
